*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: #1a0327;
    font-family: 'Open Sans', sans-serif;
    height: 350vh;
}
.container2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/bc.jpg);
    background-size: cover;
    background-position: center;
}

header{
    width: 100%;
    height: 10vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0, 85% 0, 57% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo .fas{
    font-size: 50px;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
ul.navbar{
    display: flex;
    list-style: none;
    
}

ul.navbar li{
    width: 120px;
}
ul.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
ul.navbar li a.active{
color: yellow;
}

ul.navbar li a:hover:not(:active){
color: yellow;
}
#btn{
    width: 250px;
    height: 10vh;
    background: yellow;
    color: black;
    outline: none;
    border: none;
    clip-path: polygon(32% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}
#btn.fas{
    margin-right: 10px;
}



.section1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.767),rgba(0,0,0.712)),url('img/6.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section-1-wrapper{
    width: 70%;
    margin: auto;
}
.section1 h1{
    font-size: 2rem;
    color: yellow;
    font-weight: 450;
    padding: 10px;

}
.section-1-img{ 
    display: flex;
    flex-wrap: wrap;
}
.section-1-img .img{
    width: 100px;
    height: 130px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-pK7cTUsi1ejl-k_LPmu5g5yNmM4C6nXfZg&usqp=CAU');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
}
.section-1-img .img-2{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfBmrtaZ3iZTx0ZlBsL0hUCjFJ5hd-ag15tg&usqp=CAU');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-3{
    background: url('https://pwimages-a.akamaihd.net/nocache/8b/5c/8b5cc42d4dd45a9bd0bb01847a658eaf1631635380.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-4{
    background: url('https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3l8a1iv0wCVkfNnNmPf95g/ff5d28fa91bfefdabe43523bae4d6315/rkb2-game_info-boxart-keyart-01-560x698-logo_Tablet-_1_.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-5{
    background: url('https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581607644-61s8HfeFoL.jpg?crop=0.998xw:1xh;center,top&resize=480:*');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-6{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_MEPTRhVINId4k5yDxnhOV3PjZQOi-FJy9w&usqp=CAU');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-7{
    background: url('http://img1.igg.com/999/placard/2017/05/23/035126_2630.png');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-8{
    background: url('https://bigfishgames-a.akamaihd.net/en_alices-wonderland-5-a-ray-of-hope-ce/alices-wonderland-5-a-ray-of-hope-ce_460x230.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-9{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEPqpKS2hFkPac3rf_9oE7VMBtrrFTX8_xnJqhZ06bkKGSmOilOV-UwyJcMzNwvDOkkgE&usqp=CAU');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-10{
    background: url('https://cdn1.epicgames.com/offer/611482b8586142cda48a0786eb8a127c/EGS_DeadbyDaylight_BehaviourInteractive_S4_1200x1600-f2a7ae8676457d052c1344ce717dfb7a');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-11{
    background: url('https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7A2Kk4CzmRgGwtY6JUP6TZ/c6ef51a8967186391e33c78dbafa876b/r6-extraction.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-12{
    background: url('https://my.games/hotbox/mygames/media/games/0c63b51f39579455f3ac1476ebd2b599.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-13{
    background: url('https://spaceplace.nasa.gov/templates/featured/play/helios-game.png');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-14{
    background: url('https://cdn1.epicgames.com/offer/bd46d4ce259349e5bd8b3ded20274737/EGS_Chivalry2_TornBannerStudios_S1_12_2560x1440-0a5c81d302124046398acd13d20243b8?h=270&resize=1&w=480');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-15{
    background: url('https://my.games/hotbox/mygames/media/games/6547f04bc221205dc2ec9a0521f9dd29.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-16{
    background: url('https://www.cbc.ca/kids/images/playfulkitty_start.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-17{
    background: url('https://play-lh.googleusercontent.com/4w5pO_Ozk1lDOMXJj7DP6fKYM0mltK4nqeN6p5RE9mq6MjEsYQKhfeCMeZAhdYwPjg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-18{
    background: url('https://i.ytimg.com/vi/DKTZlR6aWzM/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-19{
    background: url('https://store-images.s-microsoft.com/image/apps.43891.13835473807186336.5cf6bf6e-e12d-494f-a7ea-420b2c6b1a23.0c62e5ab-ea75-4447-84a9-67cd7c26e92f?q=90&w=256&h=384&mode=crop');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-20{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2J5m0AxOcLLGLeRrCu8OWPemnsTQTUn-FSDQGArJoaerQ4fnbB3fyZh70SMoTWApRoIw&usqp=CAU');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-21{
    background: url('https://www.cbc.ca/kids/images/muddybusiness_848.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-22{
    background: url('https://cdn-www.bluestacks.com/bs-images/need_for_speed-1358.jpg');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-23{
    background: url('https://cdn2.unrealengine.com/end-plus-portrait-offer-image-with-logo-1200x1600-1200x1600-6c375adec92d.jpg?h=854&resize=1&w=640');
    background-size: cover;
    background-position: center;
}
.section-1-img .img-24{
    background: url('https://rukminim1.flixcart.com/image/612/612/kmds4nk0/physical-game/w/l/h/standard-edition-playerunknown-s-battlegrounds-full-game-ps4-original-imagfaksyvt45gse.jpeg?q=70');
    background-size: cover;
    background-position: center;
}
